
:root{
    --headerFont: 'Muli';
    --mainFont: 'Muli';
    --black: #222;
    --white: #FFF;
    --whiter: #FFF;
    --mainColor: #dddea0;
    --color2: #ffa700;
    --color3: #ff4000;
    --color4: #b80000;
    --color5: #402929;
    --shadow1: 0 0 10px rgba(0,0,0,0.5);
    --shadow2: 0 0 20px rgba(0,0,0,0.5);
    --shadow3: 0 0 30px rgba(0,0,0,0.5);
}

/* Set a background color */
html body {
  background-color: var(--mainColor);
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.timeline {
  padding-left: 150px;
}

.container {
  width: 100%;
  margin: 0px;
  padding: 5px;
  padding-left: 20px;
}

.container:hover {
  transition: .5s;
  transform: scale(1.05);
}

.container p {
  color: white;
  font-size: 20px;
}

.container h1 {
  color: white;
  font-size: 35px;
  margin-top: 0;
}

.container h4 {
  color: white;
  margin-bottom: 0;
}

#yellow {
  background-color: var(--color1);
}

#orange {
  background-color: var(--color2);
}

#red1 {
  background-color: var(--color3);
}

#red2 {
  background-color: var(--color4);
}

#brown {
  background-color: var(--color5);
}
