
:root{
    --headerFont: 'Muli';
    --mainFont: 'Muli';
    --black: #222;
    --white: #FFF;
    --whiter: #FFF;
    --mainColor: #dddea0;
    --color1: #020107;
    --color2: #ffa700;
    --color3: #ff4000;
    --color4: #b80000;
    --color5: #402929;
    --color6: #020107;
    --shadow1: 0 0 10px rgba(0,0,0,0.2);
    --shadow2: 0 0 60px rgba(255,255,255,0.6);
    --shadow3: 0 0 50px rgba(0,0,0,.3);
    --fullshadow: 0 0 400px rgba(0,0,0,0.6);
    --buttonHeight: -6*30;
}

/* Set a background color */
html body {
  background-color: var(--mainColor);
  font-family: Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.content {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.container {
  position: relative;
  padding-top: 10px;
  z-index: 1;
  box-shadow: var(--shadow1);
  transition: .3s;
  width: 100%;
  height: 20vh;
}

.container:hover {
  z-index: 10;
  transition: .3s;
  transform: scaleY(1.2);
  box-shadow: var(--fullshadow);
}

.container:hover .content {
  transition: .3s;
  transform: scaleY(0.83);
}

.container p {
  color: white;
  font-size: 17px;
}

.container h1 {
  margin: 0 auto;
  color: white;
  font-size: 31px;
}

.container h4 {
  color: white;
  font-size: 13px;
  margin: 0 auto;
}
.circle:hover {
  box-shadow: var(--shadow2)
}

#yellow {
  background-color: var(--color1);
}

#orange {
  background-color: var(--color2);
}

#red1 {
  background-color: var(--color3);
}

#red2 {
  background-color: var(--color4);
}

#brown {
  background-color: var(--color5);
}

@media only screen and (max-width: 550px) {
  .container {
    height: 30vh;
  }
}
